<section id="contact" class="invert">
  <div class="container">
    <div class="contact-section">
      <div class="contact-item">
        <a href="tel:<%= telephone %>"><i class="phone"></i>&nbsp;&nbsp;<%= telephone %></a>
      </div>
      <div class="contact-item">
        <p><i class="envelope"></i>&nbsp;&nbsp;<%= address %></p>
      </div>
    </div>
  </div>
</section>