<section id="contact" class="invert">
  <div class="container">
    <div class="contact-section">
      <div class="contact-item">
        <a href="tel:0113 2743011"><i class="phone"></i>&nbsp;&nbsp;0113 2743011</a>
      </div>
      <div class="contact-item">
        <p><i class="envelope"></i>&nbsp;&nbsp;2a Stonegate Road, Meanwood, Leeds, West Yorkshire</p>
      </div>
    </div>
  </div>
</section>
