<aside id="cookies" aria-hidden="true">
<div class="content">
    <h2>This site uses cookies.</h2>
    <p>Some are essential to the operation of the site, while others give us insights into how the site is used and allow us to personalise our services.</p>
    <div class="buttons">
        <button id="accept" class="btn" aria-label="accept and close this message">I accept</button>
        <button id="notaccept" class="btn" aria-label="dismiss and close this message">I do not accept</button>
    </div>
</div>
</aside>