<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <meta name="theme-color" content="#262626"/>
  <meta name="msapplication-navbutton-color" content="#262626"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <title>Moustache Barber Shop - with great moustache comes responsibility</title>
  <meta name="description" content="Quality mens barber shop in Meanwood, Leeds, West Yorkshire, LS7">
  <meta name="keywords" content="Leeds,meanwood,barbers,mens,male,grooming,hair,cuts,LS7,seniors,juniors,gents,gentlemens,shop">
</head>
