<section id="home" class="invert">
  <div class="container container-heading">
    <h2 class="section-heading">Meanwood local family barbers</h2>
    <hr class="light">
    <p class="text-faded">Here at moustache barbers we take pride that we have been trading as Meanwood's local family barbers for over 25 years, thank you to all our old and new customers We couldn't of done it with out you!</p>
  </div>
  <div class="container flex-row">
    <div class="img-row">
      <img src="./img/backgrounds/970x647/03.jpg" class="img-responsive scrtop-hide scrtop-hide-delay" alt="Barber waiting bench">
      <img src="./img/backgrounds/970x647/04.jpg" class="img-responsive scrtop-hide scrtop-hide-delay" alt="Barber chairs">
    </div>
  </div>
</section>
