<nav id="mainNav">
  <button id="navButton" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="sr-only">Toggle navigation</span><i class="bars"></i>
  </button>
  <a class="page-scroll" href="#page-top" aria-label="Moustache"><i class="m-logo"></i></a>
  <div id="navBar">
    <ul>
      <li>
        <a class="page-scroll" href="#home">home</a>
      </li>
      <li>
        <a class="page-scroll" href="#pricing">pricing</a>
      </li>
      <li>
        <a class="page-scroll" href="#opening-times">opening times</a>
      </li>
      <li>
        <a class="page-scroll" href="#contact">contact</a>
      </li>
    </ul>
  </div>
</nav>
