<section id="opening-times" class="invert">
  <div class="container container-heading">
    <h2 class="section-heading">Usual opening times</h2>
    <hr class="primary">
  </div>
  <div class="container scrtop-anim">
    <table id="opening-times-table" class="opening-times scrtop-hide">
      <thead>
        <tr>
          <th scope="row">Day</th>
          <th data-day="1" scope="col">Monday</th>
          <th data-day="2" scope="col">Tuesday</th>
          <th data-day="3" scope="col">Wednesday</th>
          <th data-day="4" scope="col">Thursday</th>
          <th data-day="5" scope="col">Friday</th>
          <th data-day="6" scope="col">Saturday</th>
          <th data-day="0" scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Open</th>
          <td data-day="1">09:00</td>
          <td data-day="2">09:00</td>
          <td data-day="3">09:00</td>
          <td data-day="4">09:00</td>
          <td data-day="5">09:00</td>
          <td data-day="6">08:30</td>
          <td data-day="0">Closed</td>
        </tr>
        <tr>
          <th scope="row">Close</th>
          <td data-day="1">17:30</td>
          <td data-day="2">17:30</td>
          <td data-day="3">17:30</td>
          <td data-day="4">17:30</td>
          <td data-day="5">17:30</td>
          <td data-day="6">16:00</td>
          <td data-day="0">-</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <hr class="primary" />
  <br />
  <div class="container container-heading">
    <h2 class="section-heading">Christmas opening times</h2>
    <hr class="primary">
  </div>
  <div class="container scrtop-anim">
    <table id="opening-times-table" class="opening-times scrtop-hide">
      <thead>
        <tr>
          <th scope="row">Day</th>
          <th data-day="x" scope="col">Monday 23rd</th>
          <th data-day="x" scope="col">Tuesday 24th</th>
          <th data-day="x" scope="col">Christmas Day</th>
          <th data-day="x" scope="col">Boxing Day</th>
          <th data-day="x" scope="col">Friday 27th</th>
          <th data-day="x" scope="col">Saturday 28th</th>
          <th data-day="x" scope="col">Sunday 29th</th>
          <th data-day="x" scope="col">Monday 30th</th>
          <th data-day="x" scope="col">Tuesday 31st</th>
          <th data-day="x" scope="col">Wednesday 1st</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Open</th>
          <td data-day="x">09:00</td>
          <td data-day="x">09:00</td>
          <td data-day="x">Closed</td>
          <td data-day="x">Closed</td>
          <td data-day="x">Closed</td>
          <td data-day="x">08:30</td>
          <td data-day="x">Closed</td>
          <td data-day="x">09:00</td>
          <td data-day="x">09:00</td>
          <td data-day="x">Closed</td>
        </tr>
        <tr>
          <th scope="row">Close</th>
          <td data-day="x">19:00</td>
          <td data-day="x">14:00</td>
          <td data-day="x">-</td>
          <td data-day="x">-</td>
          <td data-day="x">-</td>
          <td data-day="x">16:00</td>
          <td data-day="x">-</td>
          <td data-day="x">17:30</td>
          <td data-day="x">16:00</td>
          <td data-day="x">-</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
