<aside id="popup" aria-hidden="false">
  <div class="content">
    <h2>Important info!</h2>
    <p>From 7th November we will be staying open late until 7pm!</p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>
