<aside id="popup" aria-hidden="true">
  <div class="content">
    <h2>Important info!</h2>
    <p>We will be closing early on Saturday 8th July 2018 at 2pm</p>
    <p>Sorry for any inconvenience</p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>
