<aside id="popup" aria-hidden="true" data-cookie="cookie-covid-08-12-2020">
  <div class="content">
    <h2>Coronavirus</h2>
    <p>Normal service has now been resumed and are now using our waiting area so no need to book an appointment, although we still have 1 member of staff available to for appointments on Wednesdays and Thursdays for those that prefer.</p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>