<aside id="popup" aria-hidden="true">
  <div class="content">
    <h2>Coronavirus</h2>
    <p>We are now accepting appoinments (only) for Wednesdays &amp; Thursdays.  Please arrange these through <a target="_blank" href="https://booksy.com/en-gb/40924_moustache-barbers_barber-shop_1471373_leeds">booksy</a></a></p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>
