<aside id="popup" aria-hidden="true" data-cookie="booksy-notice-31-05-2025">
  <div class="content">
    <h2>Bookings</h2>
    <p>We are now taking appointments for <strong>Friday and Saturdays only</strong>.</p>
    <p>You can still walk in Tuesday to Thursday with no appointment.</p>
    <p>When making a reservation, please ensure you check and set your stylist (Staff) option to "No preference" as this will help us give you all available booking times.</p>
    <p>Beat the weekend cue and book now on <a href="https://booksy.com/en-gb/40924_moustache-barbers_barber_1471373_leeds" target="_blank">Booksy</a></p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>