<aside id="popup" aria-hidden="true">
  <div class="content">
    <h2>Coronavirus</h2>
    <p>We will be resuming to our normal service with no appointments needed and only a £2 surcharge from the 24th July.</p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>
