<aside id="popup" aria-hidden="true" data-cookie="cookie-covid-03-03-2021">
  <div class="content">
    <h2>Coronavirus</h2>
    <p>We&apos;ll be resuming the normal walk-in service in our waiting area (no longer taking appointments) from the <strong>12th&nbsp;April</strong>.</p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>