<aside id="popup" aria-hidden="true" data-cookie="booksy-notice-04-04-2024-2">
  <div class="content">
    <h2>Bookings</h2>
    <p>We are now moving to booked appointments only on Friday and Saturday.  Walk-ins are still available Tuesday to Thursday.  Please see opening times for details.</p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>