<aside id="popup" aria-hidden="true" data-cookie="booksy-notice-09-04-2024">
  <div class="content">
    <h2>Bookings</h2>
    <p>Now taking appointments on Friday Saturdays, beat the cue and book now on <a href="https://booksy.com/en-gb/40924_moustache-barbers_barber_1471373_leeds" target="_blank">Booksy</a></p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>