<aside id="popup" aria-hidden="true">
  <div class="content">
    <h2>Coronavirus</h2>
    <p>We are now taking appointments on <a class="link" href="https://booksy.com/en-gb/40924_moustache-barbers_barber-shop_1471373_leeds" target="booksy">booksy</a> app from the 4th July £3 surcharge on ever hair cut.</p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>
