<aside id="popup" aria-hidden="true" data-cookie="cookie-covid-02-03-2021">
  <div class="content">
    <h2>Coronavirus</h2>
    <p>We&apos;ll be taking appointments and resuming the normal walk-in service in our waiting area (no need for appointment) from the <strong>12th&nbsp;April</strong>.  Appointments can be booked via <a href="https://booksy.com/en-gb/40924_moustache-barbers_barber-shop_1471373_leeds">Booksy</a>.</p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>