<aside id="popup" aria-hidden="true">
  <div class="content">
    <h2>Coronavirus</h2>
    <p>We are now accepting <strong>appoinments only</strong> for <strong>Wednesdays</strong> &amp; <strong>Thursdays</strong>.  Please arrange these through <a target="_blank" href="https://booksy.com/en-gb/40924_moustache-barbers_barber-shop_1471373_leeds">booksy</a></a></p>
    <p>Walk-in with no appoinments on <strong>Monday, Tuesday, Friday</strong> and <strong>Saturday</strong>.</p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>
