<aside id="popup" aria-hidden="true" data-cookie="booksy-notice-03-04-2024">
  <div class="content">
    <h2>Bookings</h2>
    <p>We are now moving to pre-booked appointments only on Friday and Saturday.  Please see opening times for details.</p>
    <button id="close" aria-label="close this message">X</button>
  </div>
</aside>