<section id="pricing">
  <div class="container container-heading">
    <h2 class="section-heading">Our prices</h2>
    <hr class="primary">
  </div>
  <div class="container flex-row scrtop-anim">
    <div class="service-box scrtop-hide">
      <i class="fas fa-4x fa-cut"></i>
      <h3>Haircut</h3>
      <p class="text-muted">&pound;9.50</p>
    </div>
    <div class="service-box scrtop-hide">
      <i class="fas fa-4x fa-user"></i>
      <h3>Blade all over</h3>
      <p class="text-muted">&pound;6.50</p>
    </div>
    <div class="service-box scrtop-hide">
      <i class="fas fa-4x fa-blind"></i>
      <h3>Over 65&apos;s</h3>
      <p class="text-muted small">(Monday - Friday)</p>
      <p class="text-muted">&pound;6.50</p>
    </div>
    <div class="service-box scrtop-hide">
      <i class="fas fa-4x fa-futbol"></i>
      <h3>School kids</h3>
      <p class="text-muted">&pound;7.50</p>
    </div>
    <div class="service-box scrtop-hide">
      <i class="fas fa-4x fa-child"></i>
      <h3>Under 5&apos;s</h3>
      <p class="text-muted small">(Monday - Friday)</p>
      <p class="text-muted">&pound;7.00</p>
    </div>
  </div>
</section>
