<section id="pricing">
  <div class="container container-heading">
    <h2 class="section-heading">Our prices</h2>
    <hr class="primary">
  </div>
  <div class="container flex-row scrtop-anim">
    <div class="service-box scrtop-hide">
      <i class="cut"></i>
      <h3>Haircut</h3>
      <p class="text-muted">&pound;10.50</p>
    </div>
    <div class="service-box scrtop-hide">
      <i class="user"></i>
      <h3>Blade all over</h3>
      <p class="text-muted">&pound;7.00</p>
    </div>
    <div class="service-box scrtop-hide">
      <i class="blind"></i>
      <h3>Over 65&apos;s</h3>
      <p class="text-muted small">(Monday - Friday)</p>
      <p class="text-muted">&pound;7.00</p>
    </div>
    <div class="service-box scrtop-hide">
      <i class="child"></i>
      <h3>Kids (under 12)</h3>
      <p class="text-muted">&pound;7.50</p>
    </div>
    <div class="service-box scrtop-hide">
      <i class="futbol"></i>
      <h3>Kids (12 - 16)</h3>
      <p class="text-muted">&pound;8.00</p>
    </div>
    <div class="service-box scrtop-hide">
      <i class="meh-blank"></i>
      <h3>Beard</h3>
      <p class="text-muted">&pound;4.00</p>
    </div>
  </div>
</section>
