<section id="pricing">
  <div class="container container-heading">
    <h2 class="section-heading">Our prices</h2>
    <hr class="primary">
  </div>
  <div class="container flex-row scrtop-anim">
    <% for (let i = 0; i < prices.length; i++) { %>
    <div class="service-box scrtop-hide">
      <i class="<%= prices[i].icon %>"></i>
      <h3><%= prices[i].type %></h3>
      <% if (prices[i].note) { %>
      <p class="text-muted small"><%= prices[i].note %></p>
      <% } %>
      <p class="text-muted">&pound;<%= prices[i].cost %></p>
    </div>
    <% } %>
  </div>
  <div class="container scrtop-anim notice">
    <h3>Polite Notice</h3>
    <hr class="primary">
    <p>We at Moustache want to express our gratitude for your continued support and loyalty. We have continued to keep our prices as low as possible, rarely increasing them.</p>
    <p>The recent increases are necessary due to the loss of custom and how our business is being affected by the new road layout, which in turn is putting us at risk of closing.</p>
    <p><strong>We appreciate your understanding and support.</strong></p>
  </div>
</section>
