/*------------------------------------------------------------------
  	[Opening]
------------------------------------------------------------------*/

.opening {
	padding: 70px 45px;
	background: $color-white;
	margin-top: 50px;

	@media (max-width: $screen-sm-min) {
		margin-top: 0;
		padding: 20px;

		> table {
			display: flex;
			flex-direction: row;
			> thead {
				width: 49%;
				padding-right: 0.5%;
				flex-grow: 0;
				flex-shrink: 0;
				vertical-align: top;
				> tr {
					display: flex;
					flex-direction: column;
					> th {
						flex-grow: 0;
						flex-shrink: 0;
						flex-wrap: wrap;
						border: 0;
						border-bottom: 2px solid #ddd;
					}
				}
			}
			> tbody {
				width: 50%;
				flex-grow: 0;
				flex-shrink: 0;
				vertical-align: top;
				> tr {
					width: 49%;
					display: inline-flex;
					flex-direction: column;
					> * {
						flex-grow: 0;
						flex-shrink: 0;
						flex-wrap: wrap;
						border: 0;
						border-bottom: 2px solid #ddd;
					}
				}
			}
		}

		@media (max-width: $screen-xs-min) {
			padding: 20px 10px;
			> table > thead {
				width: 33%;
			}
			> table > tbody {
				width: 67%;
			}
		}
	}

	&.opening-active {
		padding-top: 110px;
		padding-bottom: 110px;
		margin-top: 10px;

		@media (max-width: $screen-sm-min) {
			margin-top: 0;
		}
	}

	.opening {
		&-icon {
			display: block;
			@include font($size: 30px);
			color: $color-link-hover;
			margin-bottom: 30px;
		}

		&-list-item {
			@include position(relative);
			@include font($size: 13px);
			color: $color-link;
			padding-left: 20px;
			margin-bottom: 10px;

			&:before {
				@include position(absolute, $top: 7px, $left: 0);
				@include size(9px, 2px);
		        background: $color-base;
		        content: " ";
		        margin-right: 10px;
			}
		}
	}
}
