/* Contact */
#contact {
  padding: 0;
  background-image: url('./img/assets/moustache_white.svg');
  background-repeat: no-repeat;
  background-size: 3em;
  background-position: 20px 50%;
  @media(--medium-device) {
    padding: 3em 0 1em 0;
    background-position: 50% 20px;
  }
  & .container-header {
    margin: auto;
  }
  & .contact-section {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em 0;
    @media(--small-device) {
      max-width: 90%;
      flex-direction: column;
    }
    & .contact-item {
      padding: 0 20px;
      @media(--small-device) {
        padding: 10px 20px;
      }
    }
    & i {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-bottom: -0.2em;
      font-size: 1.5em;
      background-size: 0.7em;
      background-repeat: no-repeat;
      background-position: center;
      &.phone {
        background-image: svg-load('../img/svg/phone.svg', stroke=rgb(150, 107, 97), fill=rgb(150, 107, 97));
      }
      &.envelope {
        background-image: svg-load('../img/svg/envelope.svg', stroke=rgb(150, 107, 97), fill=rgb(150, 107, 97));
      }
    }
  }
  & .m-logo {
    position: absolute;
    left: 20px;
    @media(--small-device) {
      position: relative;
      left: auto;
    }
  }
}
