/* Home */

#home {
  padding: 4em 0;
  @media(--small-device) {
    padding: 4em 0 3em 0;
  }
  & p {
    max-width: var(--max-item-width);
    margin: 2em auto;
  }
  & .img-row {
    margin: auto;
    & img {
      width: 30%;
      margin: auto 2%;
      @media(--small-device) {
        width: 100%;
        margin: 10px auto;
      }
    }
  }
}
