/* Pricing */
#pricing {
  padding: 4em 0;
  @media(--small-device) {
    padding: 3em 0;
  }
  & .container {
    &.section-heading {
      flex-direction: column;
    }
    &.flew-row {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    @media(--small-device) {
      &.flex-row {
        flex-wrap: wrap;
      }
    }

    & .service-box {
      padding: 1em;
      width: 20%;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      & i {
        display: inline-block;
        width: 3em;
        height: 4em;
        background-size: 3em;
        background-repeat: no-repeat;
        background-position: center;
        &.child {
          background-image: svg-load('../img/svg/child.svg', stroke=rgb(150, 107, 97), fill=rgb(150, 107, 97));
        }
        &.cut {
          background-image: svg-load('../img/svg/cut.svg', stroke=rgb(150, 107, 97), fill=rgb(150, 107, 97));
        }
        &.futbol{
          background-image: svg-load('../img/svg/futbol.svg', stroke=rgb(150, 107, 97), fill=rgb(150, 107, 97));
        }
        &.blind {
          background-image: svg-load('../img/svg/blind.svg', stroke=rgb(150, 107, 97), fill=rgb(150, 107, 97));
        }
        &.user {
          background-image: svg-load('../img/svg/user.svg', stroke=rgb(150, 107, 97), fill=rgb(150, 107, 97));
        }
        &.meh-blank {
          background-image: svg-load('../img/svg/meh-blank.svg', stroke=rgb(150, 107, 97), fill=rgb(150, 107, 97));
        }
        &.plus-circle {
          background-image: svg-load('../img/svg/plus-circle.svg', stroke=rgb(150, 107, 97), fill=rgb(150, 107, 97));
        }
      }
      @media(--small-device) {
        width: 33%;
        flex: 1 1 auto;
        &::after {
          display: block;
          content: '';
          margin: 1em auto 0 auto;
          width: 3em;
          height: 0px;
          border: 1px solid rgb(150, 107, 97);
        }
      }
      & h3 {
        margin: 1em 0 0 0;
        padding: 0;
      }
      & p {
        margin: 0;
        padding: 0;
      }
    }
  }
}
