@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

@import '/css/normalize';
@import '/css/main-nav';
@import '/css/home';
@import '/css/intro';
@import '/css/pricing';
@import '/css/opening';
@import '/css/reviews';
@import '/css/contact';
@import '/css/popup';
@import '/css/cookies';

:root {
  /* dims */
  --max-desktop: 1170px;
  --max-item-width: 540px;

  /* colours */
  --clr-1: rgb(29, 30, 32);
  --clr-1-a: rgba(29, 30, 32, .7);
  --clr-2: #404040;
  --clr-2-a: rgba(64, 64, 64, .7);
  --clr-3: rgb(150, 107, 97);
  --clr-8: #0077B5;
  --clr-10: rgb(224, 228, 230);

  /* misc */
  --borderR: 3px;
  --easing: cubic-bezier(.55, 0, .1, 1)
}

@custom-media --small-device (width <= 480px);
@custom-media --medium-device (width <= 768px);
@custom-media --large-device (width > 768px);

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @media(--small-device) {
    overflow-x: hidden;
  }

  & .sr-only {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

  & body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-display: swap;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    color: var(--clr-2);
    background-color: var(--clr-1);
    width: 100%;
    @media(--small-device) {
      overflow-x: hidden;
    }

    & a {
      color: var(--clr-2);
    }

    & h1 {
      text-transform: uppercase;
    }

    & a {
      text-decoration: none;
      &.link {
        text-decoration: underline;
        font-weight: bold;
      }
    }

    & .btn {
      display: inline-flex;
      padding: 10px 20px;
      background: var(--clr-3);
      color: var(--clr-10);
      border: 1px solid var(--clr-1);
      border-radius: 50px;
      font-size: 0.85em;
      font-weight: 600;
      cursor: pointer;
    }

    & i {
      color: var(--clr-3);
      &.m-logo {
        display: block;
        width: 3em;
        height: 1em;
        background-image: svg-load('./img/assets/moustache_white.svg');
        background-position: center;
        background-size: cover;
      }
    }

    /* header & nav */
    & header, & section, & aside {
      text-align: center;
      width: 100%;
      margin: 0 auto;
      padding: 15px 0;
      &::before {
        display: table;
        content: ' ';
      }
    }
    & section, & aside {
      padding: 15px 0;
      background: var(--clr-10);
      color: var(--clr-1);
      & .container {
        width: 100%;
        max-width: var(--max-desktop);
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        &.flex-row {
          flex-direction: row;
        }
        @media(--small-device) {
          flex-direction: column;
          max-width: 90%;
        }
      }
      & h2 {
        margin: 0;
      }
      & hr {
        width: 3em;
        border-color: var(--clr-3);
      }

      &.invert {
        background: var(--clr-1);
        color: var(--clr-10);
        & a {
          color: var(--clr-10)!important;
        }
      }
      
      & .img-row {
        margin: auto;
        & img {
          width: 30%;
          margin: auto 2%;
          @media(--small-device) {
            width: 100%;
            margin: 10px auto;
          }
        }
      }
    }

    & .scrtop-anim {
      & .scrtop-hide {
        transition: 300ms var(--easing);
        opacity: 0;
        transform: translateY(30px);
      }
      &[data-topactive="true"] .scrtop-hide {
        opacity: 1;
        transform: translateY(0);
        &:nth-of-type(2) { transition-delay: 100ms }
        &:nth-of-type(3) { transition-delay: 200ms }
        &:nth-of-type(4) { transition-delay: 300ms }
        &:nth-of-type(5) { transition-delay: 400ms }
        &:nth-of-type(6) { transition-delay: 500ms }
      }
    }
  }
}
